h1 {
  margin-left: 160px;
  font-size: 34px;
  padding: 0px 10px;
}

#navbar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

#navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

#navbar a:hover {
  color: #f1f1f1;
}

#main-doc {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
#navbar header {
  padding: 6px 8px 6px 16px;
  color: #818181;
  font-size: 27px;
}

@media screen and (max-height: 450px) {
  #nav-link {
    padding-top: 15px;
  }
  #nav-link a {
    font-size: 18px;
  }
}
#characters {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  display: inline-block;
}

#characters img {
  float: left;
  margin: 20px auto;
  height: 300px;
}

#characters ::content {
  text-align: right;
  display: inline-block;
  padding: 0;
}

#characters h3 {
  text-align: center;
  padding: 0;
}
body {
  background-color: #e46f6f;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#topic {
  text-align: center;
  font-size: 40px;
}
h2 {
  text-align: center;
}
